{% load static %}
<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Template for catalog</title>

  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
  <link href="{% static 'css/styles.css' %}" rel="stylesheet">

</head>

<body>
  <div class="d-flex app">

    <!-- БОКОВОЕ МЕНЮ -->
    <aside class="sidebar d-flex flex-column p-3 text-white">
      <!-- Лого -->
      <div class="brand pb-3 mb-3 d-flex align-items-center gap-2">
        <img
          src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo-white.svg"
          alt="logo"
          width="32"
          height="26"
        />
        <span class="fw-semibold">Меню</span>
      </div>
        {% include 'catalog/includes/inc_main_menu.html' %}

      <!-- Профиль -->
      <div class="dropdown pt-2 border-top border-secondary">
        <button class="btn btn-dark w-100 d-flex align-items-center gap-2 px-0"
                type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img
            src="https://freeimage.host/content/images/users/HCTM0b/av_1753351400.jpg"
            alt="avatar"
            width="26" height="26"
            class="rounded-circle"
          >
          <span class="small fw-semibold">Пользователь</span>
          <i class="bi bi-caret-down-fill ms-auto small"></i>
        </button>
        {% if user.is_authenticated %}
        <ul class="dropdown-menu dropdown-menu-dark w-100">
          <li><a class="dropdown-item" href="{% url 'users:user_info' user.email %}">Профиль</a></li>
          <li><hr class="dropdown-divider"></li>
          <li>
            <form method="post" action="{% url 'users:logout' %}" style="display: inline;">
              {% csrf_token %}
              <button type="submit" class="btn btn-link nav-link">Выйти
              </button>
            </form>
          </li>
        </ul>
        {% else %}
        <ul class="dropdown-menu dropdown-menu-dark w-100">
          <li><a class="dropdown-item" href="{% url 'users:login' %}">Войти</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="{% url 'users:register' %}">Зарегистрироваться</a></li>
        </ul>
        {% endif %}
      </div>
    </aside>

    <!-- КОНТЕНТ (скроллится) -->
    <main class="content-wrap">
      {% block title %}
      {% endblock %}
      {% block content %}
      {% endblock %}

    </main>

  </div>

  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
