{% extends 'catalog/base.html' %}
{% block content %}
        <div class="catalog-area">
          <div class="container py-4">

            <div class="text-center page-title">
              <h1 class="display-5 fw-semibold mb-2">Каталог</h1>
            </div>
            <div class="text-center page-title">
              <a type="button" class="btn btn-primary" href="{% url 'catalog:product_create' %}">Новый продукт</a>
            </div>
            <div class="row row-cols-1 row-cols-md-2 g-4 mt-4">

              {% for product in object_list %}
              <div class="col">
                <div class="card shadow-sm">
                  {% if product.photo %}
                    <img src="{{ product.photo.url }}"
                          class="card-img-top"
                          alt="{{ product.name }}">
                  {% else %}
                <div class="thumb d-flex align-items-center justify-content-center">
                  <i class="bi bi-image fs-1 text-secondary"></i>
                </div>
                  {% endif %}

                  <div class="card-body">
                    <h4 class="card-text"> {{ product.name }} </h4>
                    <p class="card-text">
                      {{ product.description | truncatechars:100 }}
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group card-actions" role="group">
                        <a type="button" class="btn btn-outline-secondary" href="{% url 'catalog:product_info' product.pk %}">Подробнее</a>
                        <a type="button" class="btn btn-outline-secondary" href="{% url 'catalog:product_update' product.pk %}">Редактировать</a>
                        {% if perms.catalog.can_delete_product %}
                        <a type="button" class="btn btn-outline-secondary" href="{% url 'catalog:product_delete' product.pk %}">Удалить</a>
                        {% endif %}
                      </div>
                      <small class="text-muted">{{ product.price }}</small>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}

            </div><!-- /row -->
          </div>
        </div>

{% endblock %}